NavigationTable{

}

#navigationTable{
  width:100%;
  background-color: lightblue;
  height:35px;
  border: solid 0px #7EA6E0;
  border-spacing: 0px;
  text-align: center;
  font-weight: bold;
}

td{
  width: 8%;
  border-bottom: solid 4px transparent;
  transition-duration: 0.5s;
  padding: 0 5px;
}

#homeLink{

}

#accountLinkDiv{

}

#accountLink{

}

#appLinkDiv{

}

#appLink{

}

#spaceDiv{
  width: auto;
}

#aboutLinkDiv{

}

#aboutLink{

}
