<table id='trackerTable' *ngIf='character'>
  <tbody></tbody>
    <tr id='characterRow'>
      <td id='markerDiv'><div id='marker' *ngIf='isActing()'> X </div><div *ngIf='!isActing()'> 0 </div></td>
      <td id='nameColumn'><div id='name'>{{character.name}}</div></td>
      <span id='attributeColumn' *ngFor='let attributeColumn of attributeColumns index as i'>
        <td id='attributeSelectDiv'>
          <select id='attributeSelect' [(ngModel)]='selectedAttributeIndexes[i]'>
              <option disabled=true value='default'>Add Attribute</option>
              <option *ngFor='let attribute of attributes index as a' value={{a}}>{{attribute.name}}</option>
          </select>
        </td>
        <td id='attributeEditDiv'>
          <input id='attributeEdit' *ngIf='selectedAttributeIndexes[i] !== undefined' [(ngModel)]='attributes[selectedAttributeIndexes[i]].value' (input)="onChange(i)">
        </td>
      </span>
      <td id='moveUpButtonDiv'>
        <button id='moveUpButton' class="btn btn-success" (click)="moveUp();">^</button>
      </td>
      <td  id='moveDownButtonDiv'>
        <button  id='moveDownButton' class="btn btn-success" (click)="moveDown();">v</button>
      </td>
    </tr>
  </tbody>
</table>
