#trackerTable[_ngcontent-c6]{
  width: 99%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#characterRow[_ngcontent-c6]{

}
#characterRow.acting[_ngcontent-c6]{

}
#markerDiv[_ngcontent-c6]{
  width: 2%;
}
#marker[_ngcontent-c6]{
  background-color: blue;
  width:23px;
  height:23px;
  border-radius: 50px;
}
#noMarker[_ngcontent-c6]{
}
#nameColumn[_ngcontent-c6]{
  position:relative;
  width: 10%;
}
#name[_ngcontent-c6]{
  position: absolute;
  left:0;
  top:5px;
  width:100%;
  overflow: hidden;
  text-overflow: ellipsis
}
#allAttributes[_ngcontent-c6]{
  width:100%;
  display: inline-block;
}
#attributeColumn[_ngcontent-c6]{
  width: 19%;
  padding: 0px;
  margin: 0px 3px;;
  display: inline-block;
  border-radius: 15px;
}
#attributeColumn.empty[_ngcontent-c6]{
  border: dashed 1px;
}
#attributeColumn.full[_ngcontent-c6]{
  border: solid 1px;
}
#attributeSelectDiv.empty[_ngcontent-c6]{
  width: 100%;
}
#attributeSelectDiv.full[_ngcontent-c6]{

}
#attributeSelect[_ngcontent-c6]{
  width:100%;
  border: none;
  background-color: transparent;
}
#attributeSelect.empty[_ngcontent-c6]{

}
#attributeSelect.full[_ngcontent-c6]{
  width: 200%;
  z-index: 99;
}
#attributeEditDiv.active[_ngcontent-c6]{
  width: 50%;
  padding-right:5px;
  z-index: 98;
}
#attributeEditDiv.inactive[_ngcontent-c6]{

}
#attributeEdit[_ngcontent-c6]{
  width: 100%;
  text-align: center;
  border: 1px;
  border-radius: 10px;
  position: relative;
  right:22px;
  z-index: 99;
}
#moveUpButtonDiv[_ngcontent-c6]{
  width: 1%
}
#moveUpButton[_ngcontent-c6] {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-bottom: 15px solid blue;
}
#moveUpButton[_ngcontent-c6]:active{
  border-bottom: 15px solid purple;
}
#moveDownButtonDiv[_ngcontent-c6]{
  width: 1%
}
#moveDownButton[_ngcontent-c6]{
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-top: 15px solid #f00;
}
#moveDownButton[_ngcontent-c6]:active{
  border-top: 15px solid purple;
}
