<table id='trackerTable' *ngIf='character'>
  <tr id='characterow'>
    <td id='markerDiv'><div id='marker' *ngIf='isActing()'> X </div><div *ngIf='!isActing()'> 0 </div></td>
    <td id='nameColumn'><div id='name'>{{character.name}}</div></td>
    <td id='attributeColumn' *ngFor='let attributeColumn of attributeColumns'>
      <select id='attributeSelect'>
          <option disabled=true value='default'>Add Attribute</option>
          <option *ngFor='let attribute of attributes' value='attribute'>{{attribute.name}} = {{attribute.value}}</option>
      </select>
    </td>
    <td>
      <button class="btn btn-success" (click)="moveUp();">Move Up</button>
    </td>
    <td>
      <button class="btn btn-success" (click)="moveDown();">Move Down</button>
    </td>
  </tr>
</table>
