<h1>Tracker</h1>

<table id="trackerTable">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Name</th>
      <th>Attribute</th>
      <th>Attribute</th>
      <th>Attribute</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let character of characters index as i">
      <td></td>
      <td>{{selectedCharacter(i + 1)}}</td>
      <td>{{character.name}}</td>
      <td>
        <select>
            <option value="defualt">Add Attribute</option>
        </select>
      </td>
      <td>
        <select>
            <option value="defualt">Add Attribute</option>
        </select>
      </td>
      <td>
        <select>
            <option value="defualt">Add Attribute</option>
        </select>
      </td>
      <td>
        <button class="btn btn-success" (click)="moveUp(character, i);">Move Up</button>
    </td>
    <td>
        <button class="btn btn-success" (click)="moveDown(character, i);">Move Down</button>
    </td>
  </tr>
  </tbody>
</table>

<br>
  <button (click)="nextTurn()">Next Turn</button>
  <button (click)="previousTurn()">Previous Turn</button>
<br>

<div *ngFor="let character of characters" style="width: 300px;">
  <app-tracker-character [character]='character'></app-tracker-character>
</div>
<div style="margin-top:20px;">
  <button type="button" class="button btn-danger" (click)='deleteCharacters()'>Delete All</button>
</div>
