AppComponent{}

app-root {
  height: 100%;
  display: block;
}

body {
  height: 100%;
}

.container-fluid {
  height: 100%;
  display:flex;
  flex-direction: column;
}

#navBarSpace {

}

#routerSpace {

  height: 100%;
  overflow: hidden;
  position: relative;
}
