
<div class="container-fluid">
  <div style="color: blue;">
    <h1>{{title}}</h1>
    <!-- <h3>{{description}}</h3> This error is annoying-->
  </div>

  <nav>
    <a routerLink="characters" class="btn btn-primary active" role="button" routerLinkActive="active">Display characters</a><br>
    <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add a character</a><br>
    <a routerLink="login" class="btn btn-primary active" role="button" routerLinkActive="active">Account page</a><br>
  </nav>
  <router-outlet></router-outlet>
  <app-messages></app-messages>
</div>
<!-- the piece below is where routing result is placed. -->


