<div class="container-fluid">
  <nav>
    <table id="navigationTable">
      <tr>
        <td id="homeLink">
          Home
        </td>
        <td id="accountLink" id='accountLink' routerLink="login" class="btn btn-primary active" role="button" routerLinkActive="active">
          Login
        </td>
        <td id="appLink" routerLink="app" class="btn btn-primary active" role="button" routerLinkActive="active">
          App
        </td>
        <td id='spaceDiv'></td>
        <td id='aboutLink'>
          About
        </td>
      </tr>
    </table>
  </nav>

  <div id='routerSpace'>
    <router-outlet></router-outlet>
  </div>

  <!-- <app-messages></app-messages> -->
</div>


