CharacterListEntry{}

table{
  width: 100%;
}

tr{

}

td{

}

#drag{
  width:10px;
}

#trackButtonDiv{
  width:80px;
}

#trackButton{
  background-color: #99bbff;
  border: 1px solid #3377ff;
  border-radius: 3px;
}

#trackButton:hover{
  background-color: #80dfff;
  transition-duration: .3s;
}

#trackButton:active{
  background-color: #000080;
}

#name{
}

#cloneButtonDiv{
  width: 10px;
}

#cloneButton{
  border-style: solid;
  width: auto;
}

#cloneButton:hover {

}

#editButtonDiv{
  width: 10px;
}

#editButton{
  font-weight: bolder;
  border-radius: 3px;
  border: 1px solid grey;
  position: relative;
}
#editButton:hover{
  background-color: white;
}
#editButton:active{
  background-color: grey;
}
