<div *ngIf="attribute">
  <div>
    <label>Attribute Name: </label> {{attribute.name}}<br><br>
  </div>
  <div>
      <label>Attribute Type: </label> {{attribute.type}}<br><br>
    </div>
    <div>
        <label>Attribute Value: </label> {{attribute.value}}<br><br>
      </div>
</div>

<button  (click)="createAttribute()" >Add Attribute</button>
<br>
<button  (click)="deleteCharacter()" >Remove character</button>
<br>
<button  (click)="reorderCharacters()" >Reorder characters</button>
<br><br><br>
