<h1>Tracker</h1>

<table id='trackerTable'>
    <tr id='headerRow'>
      <th id='nameColumn'><div id='nameDiv'>Name</div></th>
      <th *ngFor='let attributeColumn of attributeColumns' id='attributeColumn'>
        <select id='attributeHeader'>
          <option disabled=true value='default'>Add Attribute</option>
          <option *ngFor='let attribute of attributeColumnOptions' value='attribute'>{{attribute.name}}</option>
        </select>
      </th>
    </tr>
</table>
<div *ngFor='let character of characters index as i'>
  <app-tracker-row [character]='character' [attributeColumns]='attributeColumns' [currentActor]='currentActor' [characters]='characters' [index]=i></app-tracker-row>
</div>
<div id='nextTurnButtonDiv'>
  <button id='nextTurnButton' type="button" class="button btn-add" (click)='nextTurn()'>Next Turn</button>
</div>
<div id='prevTurnButtonDiv'>
  <button id='prevTurnButton' type="button" class="button btn-delete" (click)='prevTurn()'>Prev Turn</button>
</div>
