#trackerTable {
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#headerRow {

}
#markerDiv {
  width: 1%
}
#nameColumn {
  width: 10%;
}
#attributeColumn {
  width: 10%;
}
#attributeHeader {

}
#moveUpButtonDiv {
  width: 1%
}
#moveDownButtonDiv {
  width: 1%
}
#nextTurnButtonDiv {

}
#nextTurnButton {

}
#prevTurnButtonDiv {

}
#prevTurnButton {

}
