<h1>Tracker</h1>

Current acting position: {{actingPosition}}

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Active</th>
      <th>Attribute</th>
      <th>Attribute</th>
      <th>Attribute</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let character of characters index as i">
      <td>{{character.key}}</td>
      <td>{{character.name}}</td>
      <td>{{selectedCharacter(i + 1)}}</td>
      {{getAttributes(character.key)}}
      <td>
        <select>
            <option *ngFor="let attribute of currentAttributes">{{attribute.name}} {{attribute.value}}</option>
        </select> 
      </td>
      <td>
          <select >
              <option *ngFor="let attribute of currentAttributes">{{attribute.name}} {{attribute.value}}</option>
          </select> 
      </td>
      <td>
          <select >
              <option *ngFor="let attribute of currentAttributes">{{attribute.name}} {{attribute.value}}</option>
          </select> 
      </td>
  </tr>
  </tbody>
</table>


{{n}}

<br>
  <button (click)="nextTurn()">Next Turn</button>
<br>
  <button (click)="previousTurn()">Previous Turn</button>
<br>
  <button (click)="removeCharacter()">Remove Character</button>
<br>
  <button (click)="moveCharacter()">Move Character</button>
