<h3>Create Attribute</h3>
<div [hidden]="submitted" style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Attribute name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="attribute.name" name="name">
    </div>
    
    <div class="form-group">
      <label for="type">Attribute type</label>
      <input type="text" class="form-control" id="type" required [(ngModel)]="attribute.type" name="type">
    </div>
    
    <div class="form-group">
      <label for="value">Attribute value</label>
      <input type="text" class="form-control" id="value" required [(ngModel)]="attribute.value" name="value">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
 
<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <button class="btn btn-success" (click)="newAttribute()">Add</button>
</div>