CharDAttributeListEntry{}

table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

tr {

}

td {

}

input {
  text-align: center;
  width: 90%;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
}

#dragDiv {
  width: auto;
  text-align: left;
}

#nameDiv {
  width: 50%;
  text-align: center;
}

#name {

}

#valueDiv {
  width: 50%;
}

#value {

}

#deleteButtonDiv {
  text-align: right;
  width: auto;
}

#deleteButton {
  width: auto;
}
