CharacterList{}

:host {
  display: none;
}

:host.is-open {
  display: block
}

h1 {
  text-align: center;
  padding-top: 10px;
}

#list {
  text-align: center;
}

#list:nth-child(even) {
  background-color: #ffe6cc;
}

#newCharacterButtonDiv {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

#newCharacterButton {
  padding: 3px;
  width: 85%;
}

#newCharacterButton:hover {

}
