<h1>Testing Characters</h1>

<ul class="characters">
  <li *ngFor="let character of characters">
    <!-- TODO: Delete this part when implementing proper routing for character page.-->
    <a routerLink="/character/2">
    <!-- END OF DELETE-->
      {{character.name}}
      <ul class="attributes">
      </ul>
    <!-- TODO: Delete this part when implementing proper routing for character page.-->
    </a>
    <!-- END OF DELETE-->
  </li>
</ul>

These buttons are just to give us an idea of the functionality that should be built.
<br>
The functionality does not need to be in buttons, nor does it even need specific functions.
<br>
<button  (click)="addCharacter()" >Add character</button>
<br>
<button  (click)="removeCharacter()" >Remove character</button>
<br>
<button  (click)="reorderCharacters()" >Reorder characters</button>
<br>
