<h1>Testing Characters</h1>

<ul class="characters">
  <li *ngFor="let character of characters">
    <!-- TODO: Delete this part when implementing proper routing for character page.-->
    <a routerLink="/character/2">
    <!-- END OF DELETE-->
      {{character.name}}
      <ul class="attributes">
      </ul>
    <!-- TODO: Delete this part when implementing proper routing for character page.-->
    </a>
    <!-- END OF DELETE-->
  </li>
</ul>

<br>
Add character
<br>
Remove character
<br>
Reorder characters
<br>
