<h1>Testing Characters</h1>

<ul class="characters">
  <li *ngFor="let character of characters">
    <a routerLink="/character/{{character.charId}}">
      {{character.name}} {{character.charId}}
    </a>
      <ul class="attributes">
        <li *ngFor="let attribute of character.attributes">
          {{attribute.name}} {{attribute.type}}: {{attribute.value}}
        </li>
      </ul>
  </li>
</ul>


<div>
    <label>Character name:
      <input #name />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(name.value); name.value=''">
      add
    </button>
  </div>
<br>
<button  (click)="removeCharacter()" >Remove character</button>
<br>
<button  (click)="reorderCharacters()" >Reorder characters</button>
<br>
