/* You can add global styles to this file, and also import other style files */
* {
  font-family: Sans-serif;
}
body {
  margin: 0px;
  background-color: #87ceeb;
}
button.btn-add{
  border: dashed;
  border-width: 2px;
  border-color: #46d246;
  border-radius: 20px;
  background-color: #adebad;
}
button.btn-add:hover{
  -webkit-transition-duration: 0.15s;
  border-color: #6fdc6f;
  background-color: #d6f5d6;
}
button.btn-delete{
  border: solid;
  border-width: 2px;
  border-color: red;
  border-radius: 5px;
  background-color: #ff6666;
}
button.btn-delete:hover{
  -webkit-transition-duration: 0.15s;
  border-color: #ff4d4d;
  background-color: #ffb3b3;
}
.btn-nav {
  transition-duration: 0.5s;
  padding: 0 5px;
}
.btn-nav:hover {
  background-color: #66ccff;
  cursor: pointer;
  transition-duration: 0.25s;
}

.btn-nav.selected {
  background-color: #0099ff;
  color: white;
  border-bottom: solid 4px darkblue;
}
.accountContainer {
  background-color: lightblue;
  padding: 10px;
  width: 250px;
  border: 1px solid black;
  margin: 1% auto;
  overflow-wrap: break-word;
}
.accountHeader {
  margin-top: 0;
  margin-bottom: 10px;
}
.accountButton {
  background-color: #80bbff;
  border: solid 1px #4da0ff;
  padding: 3px 5px;
  margin: 1px 0px;
}
.accountButton:hover:enabled {
  background-color: #66ccff;
  cursor: pointer;
  transition-duration: 0.25s;
}
.errorTip {
  font-size: .7em;
  margin: 0;
  color: red;
}
