<div id='container'>
  <div id='headingContent'>
    <h1 id='heading'>Tabletop Companion App</h1>
    <h2 id='subHeading'>By Jonty Johnston, Scott Tyson, and Calin Dale</h2>
  </div>
  <div id='homeContent'>
    <p id='paragraph'>The Tabletop Companion App is an online turn order and stat tracking
      application built to be used with a wide variety of tabletop games. Create characters
      with attributes specific to the game system you're using, then display them in a turn
      tracker to be able to quickly access and edit them as you play.</p>
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/GZ3b5UDi2bo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>    <div id='buttonDiv'>
      <button id='button' routerLink="../login" class="btn" role="button" routerLinkActive="active">Go to Login</button>
    </div>
  </div>
  <div id='userProfileContent'>
    <app-user-profile></app-user-profile>
  </div>
</div>
