table{
  width: 100%;
}

tr{

}

td{

}

#drag{
  width:10px;
}

#name{
  padding-left: 87px;
}

#cloneButtonDiv{
  width: 10px;
}

#cloneButton{
  border: dashed;
  border-width: 2px;
  border-color: #46d246;
  border-radius: 20px;
  width: auto;
  background-color: #adebad;
}

#cloneButton:hover {
  -webkit-transition-duration: 0.15s;
  border-color: #6fdc6f;
  background-color: #d6f5d6;
}

#editButtonDiv{
  width: 10px;
}

#editButton{

}
