CharacterDetails{}

:host {
  display: none;
}

:host.is-open {
  display: block;
  height: 100%;
}

#container {
  text-align: center;
  height: 100%;
}

#headerDiv {
  width: 100%;
}

#headerButtonDiv {
  width: 100px;
}

#backButton{
  border-radius: 3px;
  border: 1px solid grey;
  position: relative;
  padding: 5px;
}
#backButton:hover{
  background-color: white;
}
#backButton:active{
  background-color: grey;
}

#backButton {
}

#deleteButton {

}

#nameDiv {
  text-align: center;
}

#name {
  text-align: center;
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 10px;
}

#saveButton{
  background-color: #99bbff;
  border: 1px solid #3377ff;
  border-radius: 3px;
}

#saveButton:hover{
  background-color: #80dfff;
  transition-duration: .3s;
}

#saveButton:active{
  background-color: #000080;
}

#addAttributeButtonDiv {

}

#addAttributeButton {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 60%;
}

#attributeListDiv {
  height: 70%;
  width: inherit;
  overflow:auto;
  display: block;
  position: relative;
}

#attributeList {
  position:relative;
}
