<div *ngIf="auth.user | async; then authenticated else guest" id='container'>
  <!-- template will replace this div -->
</div>

<!-- User NOT logged in -->
<ng-template #guest>
  <div id='container' class='accountContainer'>
    <h3 class='accountHeader'>Login</h3>
    <form [formGroup] = "signInForm">
      <input id='emailInput' type="email" formControlName="email" placeholder="Email">
      <div class='errorTip' *ngIf="(email.invalid && email.dirty) && email.touched">
        Email is invalid.
      </div>
      <input id='passwordInput' type="password" formControlName="password" required placeholder="Password">
      <div class='errorTip' *ngIf='password.invalid && password.touched'>
        Password must be more than 6 characters and have atleast 1 number.
      </div>
      <button id='loginButton' class="accountButton" type="submit" [disabled]="!signInForm.valid" (click)="signIn()">
        Login
      </button>
      <button id='recoverAccountButton' routerLink="/accountRecover" tag="button" routerLinkActive="active">
        Forgot Password
      </button>
    </form>

    <button id='registerButton' class="accountButton" routerLink="/register" tag="button" routerLinkActive="active">
      Register with email
    </button>
    <div id='or'>or</div>
    <button id='googleLoginButton' (click)="auth.googleLogin()" class="fa fa-google accountButton">
      Login with Google
    </button>
    <button id='facebookLoginButton' (click)="auth.facebookLogin()" class="fa fa-facebook accountButton">
      Login with Facebook
    </button>
    <button id='anonymousLoginButton' (click)="auth.anonymousLogin()" class="fa fa-Anon accountButton">
      Login as Guest
    </button>
  </div>
</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
  <div id='container'  class='accountContainer' *ngIf="auth.user | async as user">
    <h3 class='accountHeader'>
      {{auth.currentUserDisplayName }}
    </h3>
    <button id='editAccountButton' class="accountButton" routerLink="/editAccount" tag="button" routerLinkActive="active">
      Edit Account
    </button>
    <br>
    <button id='logoutButton' class="accountButton"(click)="logout()" >
      Logout
    </button>
  </div>
</ng-template>
