UserProfile{}

.accountContainer {

}

.accountHeader {
  margin:0;
}

button{

}

button:hover:enabled{

}

input {
  margin: 10px 0 0 0;
  width: 99%;
}

#emailInput {

}

#passwordInput {

}

.errorTip {
  width: 100%;
  word-wrap: break-word;
}

#formValidMessage {

}

#formInvalidMessage {

}

#emailInvalidMessage {

}

#loginButton {
  margin: 10px 0;
}

#recoverAccountButton {
  border: none;
  background-color: transparent;
  color: black;
  font-weight:bold;
}

#registerButton {
  width: 100%;
}

#or {
  text-align: center;
}

#googleLoginButton {
    width: 100%;
}

#facebookLoginButton {
    width: 100%;
}

#anonymousLoginButton {
    width: 100%;
}

#editAccountButton {

}

#logoutButton {

}
