UserProfile[_ngcontent-c3]{}

.accountContainer{

}

.accountHeader{
  margin:0;
}

button[_ngcontent-c3]{

}

button[_ngcontent-c3]:hover:enabled{

}

input{
  margin: 10px 0 0 0;
  width: 99%;
}

#emailInput{

}

#passwordInput{

}

.errorTip{
  width: 100%;
  word-wrap: break-word;
}

#formValidMessage{

}

#formInvalidMessage{

}

#emailInvalidMessage{

}

#loginButton{
  margin: 10px 0;
}

#recoverAccountButton{
  border: none;
  background-color: transparent;
  color: black;
  font-weight:bold;
}

#registerButton{
  width: 100%;
  background-color: #1a85ff;
  color: white;
  border-color: #3392ff;
}

#registerButton[_ngcontent-c3]:hover {
  background-color: #00aaff;
}

#or{
  text-align: center;
}

#googleLoginButton{
  width: 100%;
}

#facebookLoginButton{
  width: 100%;
}

#anonymousLoginButton{
  width: 100%;
  padding: 10px 0;
  font-size: 0.9em;
}

#editAccountButton{

}

#logoutButton{

}

#goToAppButton{
  width: 90%;
  display: block;
  margin: 0 auto;
  padding: 8px;
  text-align: center;
  font-size: 0.8em;
}
