Register{}

#container {

}

.errorTip {

}

input {
  width:99%;
  padding-right: 0px;
}

button{

}

button:hover:enabled{

}

#label{
  font-size: .7em;
  font-weight: bold;
  margin-top: 10px;
}

#usernameInput {

}

#emailInput {

}

#passwordInput {

}

#repeatPasswordInput {

}

#signupButton {
  margin-top: 10px;
}
