Register{}

#container {
  width: 20%;
}
.errorTip {
  font-size: .7em;
  margin: 0;
}
input {
  margin-top: 10px;
}

#usernameInput {

}
#emailInput {

}
#passwordInput {

}
#repeatPasswordInput {

}
#signupButton {
  margin-top: 10px;
}
